body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  color: #5d4037;
}

.search-bar-container input[type="text"],
.search-bar-container button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar-container button {
  background-color: #6d4c41;
  color: white;
}

.results-container {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 10px;
}

.result-title {
  color: #1a0dab;
  text-decoration: none;
}

.result-snippet {
  color: #555;
}
