<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Map</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      .schedule-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      #map-link {
        display: none;
      }
      body {
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <strong>Coffee Map</strong>
      <button
        class="schedule-button"
        onclick="window.location.href='/scheduling'"
      >
        Scheduling
      </button>
    </div>

    <div class="search-container">
      <h2>Search by Shop Name</h2>
      <form action="/search" method="post">
        <input
          type="test"
          name="shop_name"
          placeholder="Enter shop name..."
          class="search-bar"
        />
        <button type="submit" name="search_by_name">Search</button>
      </form>
    </div>

    <div class="search-container">
      <h2>Search by Filters</h2>
      <form action="/search" method="post">
        <div class="filter-container">
          <select
            name="district"
            class="district-select"
            id="districtSelect"
            onchange="clearForDistrictSelection()"
          >
            <option disabled selected value>-- Select District --</option>
            <option value="all">所有區域</option>
            <option value="中正區">中正區</option>
            <option value="萬華區">萬華區</option>
            <option value="大同區">大同區</option>
            <option value="中山區">中山區</option>
            <option value="松山區">松山區</option>
            <option value="大安區">大安區</option>
            <option value="信義區">信義區</option>
            <option value="內湖區">內湖區</option>
            <option value="南港區">南港區</option>
            <option value="士林區">士林區</option>
            <option value="北投區">北投區</option>
            <option value="文山區">文山區</option>

            <option value="板橋區">板橋區</option>
            <option value="土城區">土城區</option>
            <option value="樹林區">樹林區</option>
            <option value="三峽區">三峽區</option>
            <option value="鶯歌區">鶯歌區</option>
            <option value="中和區">中和區</option>
            <option value="永和區">永和區</option>
            <option value="三重區">三重區</option>
            <option value="蘆洲區">蘆洲區</option>
            <option value="新莊區">新莊區</option>
            <option value="五股區">五股區</option>
            <option value="泰山區">泰山區</option>
            <option value="林口區">林口區</option>
            <option value="淡水區">淡水區</option>
            <option value="八里區">八里區</option>
            <option value="三芝區">三芝區</option>
            <option value="石門區">石門區</option>
            <option value="金山區">金山區</option>
            <option value="萬里區">萬里區</option>
            <option value="汐止區">汐止區</option>
            <option value="瑞芳區">瑞芳區</option>
            <option value="平溪區">平溪區</option>
            <option value="雙溪區">雙溪區</option>
            <option value="貢寮區">貢寮區</option>
            <option value="新店區">新店區</option>
            <option value="深坑區">深坑區</option>
            <option value="石碇區">石碇區</option>
            <option value="坪林區">坪林區</option>
            <option value="烏來區">烏來區</option>
          </select>
          <select
            name="mrt"
            class="mrt-select"
            id="mrtSelect"
            onchange="clearForMRTSelection()"
          >
            <option disabled selected value>-- Select MRT Station --</option>
            <optgroup label="BR 文湖線">
              <option value="動物園">BR01 動物園</option>
              <option value="木柵">BR02 木柵</option>
              <option value="萬芳社區">BR03 萬芳社區</option>
              <option value="萬芳醫院">BR04 萬芳醫院</option>
              <option value="辛亥">BR05 辛亥</option>
              <option value="麟光">BR06 麟光</option>
              <option value="六張犁">BR07 六張犁</option>
              <option value="科技大樓">BR08 科技大樓</option>
              <option value="大安">BR09 大安</option>
              <option value="忠孝復興">BR10 忠孝復興</option>
              <option value="南京復興">BR11 南京復興</option>
              <option value="中山國中">BR12 中山國中</option>
              <option value="松山機場">BR13 松山機場</option>
              <option value="大直">BR14 大直</option>
              <option value="劍南路">BR15 劍南路</option>
              <option value="西湖">BR16 西湖</option>
              <option value="港墘">BR17 港墘</option>
              <option value="文德">BR18 文德</option>
              <option value="內湖">BR19 內湖</option>
              <option value="大湖公園">BR20 大湖公園</option>
              <option value="葫洲">BR21 葫洲</option>
              <option value="東湖">BR22 東湖</option>
              <option value="南港軟體園區">BR23 南港軟體園區</option>
              <option value="南港展覽館">BR24 南港展覽館</option>
            </optgroup>

            <optgroup label="R 淡水信義線">
              <option value="象山">R02 象山</option>
              <option value="台北101/世貿">R03 台北101/世貿</option>
              <option value="信義安和">R04 信義安和</option>
              <option value="大安">R05 大安</option>
              <option value="大安森林公園">R06 大安森林公園</option>
              <option value="東門">R07 東門</option>
              <option value="中正紀念堂">R08 中正紀念堂</option>
              <option value="台大醫院">R09 台大醫院</option>
              <option value="台北車站">R10 台北車站</option>
              <option value="中山">R11 中山</option>
              <option value="雙聯">R12 雙聯</option>
              <option value="民權西路">R13 民權西路</option>
              <option value="圓山">R14 圓山</option>
              <option value="劍潭">R15 劍潭</option>
              <option value="士林">R16 士林</option>
              <option value="芝山">R17 芝山</option>
              <option value="明德">R18 明德</option>
              <option value="石牌">R19 石牌</option>
              <option value="唭哩岸">R20 唭哩岸</option>
              <option value="奇岩">R21 奇岩</option>
              <option value="北投">R22 北投</option>
              <option value="復興崗">R23 復興崗</option>
              <option value="忠義">R24 忠義</option>
              <option value="關渡">R25 關渡</option>
              <option value="竹圍">R26 竹圍</option>
              <option value="紅樹林">R27 紅樹林</option>
              <option value="淡水">R28 淡水</option>
            </optgroup>
            <optgroup label="G 松山新店線">
              <option value="新店">G01 新店</option>
              <option value="新店區公所">G02 新店區公所</option>
              <option value="七張">G03 七張</option>
              <option value="小碧潭">G03a 小碧潭</option>
              <option value="大坪林">G04 大坪林</option>
              <option value="景美">G05 景美</option>
              <option value="萬隆">G06 萬隆</option>
              <option value="公館">G07 公館</option>
              <option value="台電大樓">G08 台電大樓</option>
              <option value="古亭">G09 古亭</option>
              <option value="中正紀念堂">G10 中正紀念堂</option>
              <option value="小南門">G11 小南門</option>
              <option value="西門">G12 西門</option>
              <option value="北門">G13 北門</option>
              <option value="中山">G14 中山</option>
              <option value="松江南京">G15 松江南京</option>
              <option value="南京復興">G16 南京復興</option>
              <option value="台北小巨蛋">G17 台北小巨蛋</option>
              <option value="南京三民">G18 南京三民</option>
              <option value="松山">G19 松山</option>
            </optgroup>
            <optgroup label="O 中和新蘆線">
              <option value="南勢角">O01 南勢角</option>
              <option value="景安">O02 景安</option>
              <option value="永安市場">O03 永安市場</option>
              <option value="頂溪">O04 頂溪</option>
              <option value="古亭">O05 古亭</option>
              <option value="東門">O06 東門</option>
              <option value="忠孝新生">O07 忠孝新生</option>
              <option value="松江南京">O08 松江南京</option>
              <option value="行天宮">O09 行天宮</option>
              <option value="中山國小">O10 中山國小</option>
              <option value="民權西路">O11 民權西路</option>
              <option value="大橋頭">O12 大橋頭</option>
              <option value="台北橋">O13 台北橋</option>
              <option value="菜寮">O14 菜寮</option>
              <option value="三重">O15 三重</option>
              <option value="先嗇宮">O16 先嗇宮</option>
              <option value="頭前庄">O17 頭前庄</option>
              <option value="新莊">O18 新莊</option>
              <option value="輔大">O19 輔大</option>
              <option value="丹鳳">O20 丹鳳</option>
              <option value="迴龍">O21 迴龍</option>
              <option value="三重國小">O50 三重國小</option>
              <option value="三和國中">O51 三和國中</option>
              <option value="徐匯中學">O52 徐匯中學</option>
              <option value="三民高中">O53 三民高中</option>
              <option value="蘆洲">O54 蘆洲</option>
            </optgroup>
            <optgroup label="BL 板南線">
              <option value="頂埔">BL01 頂埔</option>
              <option value="永寧">BL02 永寧</option>
              <option value="土城">BL03 土城</option>
              <option value="海山">BL04 海山</option>
              <option value="亞東醫院">BL05 亞東醫院</option>
              <option value="府中">BL06 府中</option>
              <option value="板橋">BL07 板橋</option>
              <option value="新埔">BL08 新埔</option>
              <option value="江子翠">BL09 江子翠</option>
              <option value="龍山寺">BL10 龍山寺</option>
              <option value="西門">BL11 西門</option>
              <option value="台北車站">BL12 台北車站</option>
              <option value="善導寺">BL13 善導寺</option>
              <option value="忠孝新生">BL14 忠孝新生</option>
              <option value="忠孝復興">BL15 忠孝復興</option>
              <option value="忠孝敦化">BL16 忠孝敦化</option>
              <option value="國父紀念館">BL17 國父紀念館</option>
              <option value="市政府">BL18 市政府</option>
              <option value="永春">BL19 永春</option>
              <option value="後山埤">BL20 後山埤</option>
              <option value="昆陽">BL21 昆陽</option>
              <option value="南港">BL22 南港</option>
              <option value="南港展覽館">BL23 南港展覽館</option>
            </optgroup>
            <optgroup label="Y 環狀線">
              <option value="大坪林">Y07 大坪林</option>
              <option value="十四張">Y08 十四張</option>
              <option value="秀朗橋">Y09 秀朗橋</option>
              <option value="景平">Y10 景平</option>
              <option value="景安">Y11 景安</option>
              <option value="中和">Y12 中和</option>
              <option value="橋和">Y13 橋和</option>
              <option value="中原">Y14 中原</option>
              <option value="板新">Y15 板新</option>
              <option value="板橋">Y16 板橋</option>
              <option value="新埔民生">Y17 新埔民生</option>
              <option value="頭前庄">Y18 頭前庄</option>
              <option value="幸福">Y19 幸福</option>
              <option value="新北產業園區">Y20 新北產業園區</option>
            </optgroup>
          </select>
          <label
            ><input
              type="checkbox"
              id="nearbyCheckbox"
              class="nearby-container"
              onchange="clearForNearby()"
            />
            Nearby Me</label
          >
          <p id="status"></p>
          <p id="map-link"></p>
          <input type="hidden" id="latitude" name="latitude" value="" />
          <input type="hidden" id="longitude" name="longitude" value="" />
        </div>
        <div id="walking_time_div" hidden="hidden">
          <label for="walking_time"
            >走路<input
              type="number"
              id="walking_time"
              name="walking_time"
              placeholder="10"
            />分鐘內</label
          >
        </div>
        <div class="tags">
          <label
            ><input type="checkbox" name="tags" value="work" /> 適合工作</label
          >
          <label><input type="checkbox" name="tags" value="brew" /> 手沖</label>
          <label
            ><input type="checkbox" name="tags" value="coffee" /> 咖啡</label
          >
          <label
            ><input type="checkbox" name="tags" value="beans" /> 咖啡豆</label
          >
          <label
            ><input type="checkbox" name="tags" value="socket" /> 插座</label
          >
          <label
            ><input type="checkbox" name="tags" value="desert" /> 甜點</label
          >
          <label><input type="checkbox" name="tags" value="pet" /> 寵物</label>
          <label
            ><input type="checkbox" name="tags" value="comfort" /> 氛圍</label
          >
          <label
            ><input type="checkbox" name="tags" value="quiet" /> 安靜</label
          >
          <label
            ><input type="checkbox" name="tags" value="time" /> 不限時</label
          >
        </div>
        <button type="submit" name="search_by_filters">Search</button>
      </form>
    </div>

    <script>
      document
        .querySelector("#nearbyCheckbox")
        .addEventListener("change", function () {
          if (this.checked) {
            geoFindMe();
          } else {
            clearLocationInputs();
          }
        });

      function geoFindMe() {
        const status = document.querySelector("#status");
        const latitudeInput = document.getElementById("latitude");
        const longitudeInput = document.getElementById("longitude");

        function success(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          latitudeInput.value = latitude;
          longitudeInput.value = longitude;
          // status.textContent = `Latitude: ${latitude}, Longitude: ${longitude}`;
          status.textContent = "";
        }
        function error() {
          status.textContent = " Unable to retrieve your location";
          clearLocationInputs();
        }
        if (!navigator.geolocation) {
          status.textContent = " Geolocation is not supported by your browers";
        } else {
          status.textContent = " Locating ...";
          navigator.geolocation.getCurrentPosition(success, error);
        }
      }

      function clearLocationInputs() {
        document.getElementById("latitude").value = "";
        document.getElementById("longitude").value = "";
        document.getElementById("status").textContent = "";
      }

      function clearForNearby() {
        if (document.getElementById("nearbyCheckbox").checked) {
          document.getElementById("districtSelect").value = "";
          document.getElementById("mrtSelect").value = "";
          var walkingTimeLabel = document.getElementById("walking_time_div");
          var hidden = walkingTimeLabel.getAttribute("hidden");
          if (hidden) {
            walkingTimeLabel.removeAttribute("hidden");
          }
        }
      }

      function clearForDistrictSelection() {
        document.getElementById("nearbyCheckbox").checked = false;
        clearLocationInputs();
        document.getElementById("mrtSelect").value = "";
        var walkingTimeLabel = document.getElementById("walking_time_div");
        var hidden = walkingTimeLabel.getAttribute("hidden");
        if (!hidden) {
          walkingTimeLabel.setAttribute("hidden", "hidden");
        }
      }
      function clearForMRTSelection() {
        document.getElementById("districtSelect").value = "";
        document.getElementById("nearbyCheckbox").checked = false;
        clearLocationInputs();
        var walkingTimeLabel = document.getElementById("walking_time_div");
        var hidden = walkingTimeLabel.getAttribute("hidden");
        if (hidden) {
          walkingTimeLabel.removeAttribute("hidden");
        }
      }
    </script>
  </body>
</html>
