<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Map</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      .schedule-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      #map-link {
        display: none;
      }
      body {
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <strong>Coffee Map</strong>
      <button
        class="schedule-button"
        onclick="window.location.href='/scheduling'"
      >
        Scheduling
      </button>
    </div>

    <div class="search-container">
      <h2>Search by Shop Name</h2>
      <form action="/search" method="post">
        <input
          type="test"
          name="shop_name"
          placeholder="Enter shop name..."
          class="search-bar"
        />
        <button type="submit" name="search_by_name">Search</button>
      </form>
    </div>

    <div class="search-container">
      <h2>Search by Filters</h2>
      <form action="/search" method="post">
        <div class="filter-container">
          <select
            name="district"
            class="district-select"
            id="districtSelect"
            onchange="clearForDistrictSelection()"
          >
            <option disabled selected value>-- Select District --</option>
            <option value="all">所有區域</option>
            <option value="中正區">中正區</option>
            <option value="萬華區">萬華區</option>
            <option value="大同區">大同區</option>
            <option value="中山區">中山區</option>
            <option value="松山區">松山區</option>
            <option value="大安區">大安區</option>
            <option value="信義區">信義區</option>
            <option value="內湖區">內湖區</option>
            <option value="南港區">南港區</option>
            <option value="士林區">士林區</option>
            <option value="北投區">北投區</option>
            <option value="文山區">文山區</option>

            <option value="板橋區">板橋區</option>
            <option value="土城區">土城區</option>
            <option value="樹林區">樹林區</option>
            <option value="三峽區">三峽區</option>
            <option value="鶯歌區">鶯歌區</option>
            <option value="中和區">中和區</option>
            <option value="永和區">永和區</option>
            <option value="三重區">三重區</option>
            <option value="蘆洲區">蘆洲區</option>
            <option value="新莊區">新莊區</option>
            <option value="五股區">五股區</option>
            <option value="泰山區">泰山區</option>
            <option value="林口區">林口區</option>
            <option value="淡水區">淡水區</option>
            <option value="八里區">八里區</option>
            <option value="三芝區">三芝區</option>
            <option value="石門區">石門區</option>
            <option value="金山區">金山區</option>
            <option value="萬里區">萬里區</option>
            <option value="汐止區">汐止區</option>
            <option value="瑞芳區">瑞芳區</option>
            <option value="平溪區">平溪區</option>
            <option value="雙溪區">雙溪區</option>
            <option value="貢寮區">貢寮區</option>
            <option value="新店區">新店區</option>
            <option value="深坑區">深坑區</option>
            <option value="石碇區">石碇區</option>
            <option value="坪林區">坪林區</option>
            <option value="烏來區">烏來區</option>
          </select>
          <select
            name="mrt"
            class="mrt-select"
            id="mrtSelect"
            onchange="clearForMRTSelection()"
          >
            <option disabled selected value>-- Select MRT Station --</option>
            <optgroup label="BR 文湖線">
              <option value="動物園">BR01 動物園</option>
              <option value="木柵">BR02 木柵</option>
              <option value="萬芳醫院">BR03 萬芳醫院</option>
            </optgroup>

            <optgroup label="R 淡水信義線">
              <option value="象山">R02 象山</option>
              <option value="台北101/世貿">R03 台北101/世貿</option>
              <option value="信義安和">R04 信義安和</option>
            </optgroup>
          </select>
          <label
            ><input
              type="checkbox"
              id="nearbyCheckbox"
              class="nearby-container"
              onchange="clearForNearby()"
            />
            Nearby Me</label
          >
          <p id="status"></p>
          <p id="map-link"></p>
          <input type="hidden" id="latitude" name="latitude" value="" />
          <input type="hidden" id="longitude" name="longitude" value="" />
        </div>
        <div id="walking_time_div" hidden="hidden">
          <label for="walking_time"
            >走路<input
              type="number"
              id="walking_time"
              name="walking_time"
              placeholder="10"
            />分鐘內</label
          >
        </div>
        <div class="tags">
          <label
            ><input type="checkbox" name="tags" value="work" /> 適合工作</label
          >
          <label><input type="checkbox" name="tags" value="brew" /> 手沖</label>
          <label
            ><input type="checkbox" name="tags" value="coffee" /> 咖啡</label
          >
          <label
            ><input type="checkbox" name="tags" value="beans" /> 咖啡豆</label
          >
          <label
            ><input type="checkbox" name="tags" value="socket" /> 插座</label
          >
          <label
            ><input type="checkbox" name="tags" value="desert" /> 甜點</label
          >
          <label><input type="checkbox" name="tags" value="pet" /> 寵物</label>
          <label
            ><input type="checkbox" name="tags" value="comfort" /> 氛圍</label
          >
          <label
            ><input type="checkbox" name="tags" value="quiet" /> 安靜</label
          >
          <label
            ><input type="checkbox" name="tags" value="time" /> 不限時</label
          >
        </div>
        <button type="submit" name="search_by_filters">Search</button>
      </form>
    </div>

    <script>
      document
        .querySelector("#nearbyCheckbox")
        .addEventListener("change", function () {
          if (this.checked) {
            geoFindMe();
          } else {
            clearLocationInputs();
          }
        });

      function geoFindMe() {
        const status = document.querySelector("#status");
        const latitudeInput = document.getElementById("latitude");
        const longitudeInput = document.getElementById("longitude");

        function success(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          latitudeInput.value = latitude;
          longitudeInput.value = longitude;
          // status.textContent = `Latitude: ${latitude}, Longitude: ${longitude}`;
          status.textContent = "";
        }
        function error() {
          status.textContent = " Unable to retrieve your location";
          clearLocationInputs();
        }
        if (!navigator.geolocation) {
          status.textContent = " Geolocation is not supported by your browers";
        } else {
          status.textContent = " Locating ...";
          navigator.geolocation.getCurrentPosition(success, error);
        }
      }

      function clearLocationInputs() {
        document.getElementById("latitude").value = "";
        document.getElementById("longitude").value = "";
        document.getElementById("status").textContent = "";
      }

      function clearForNearby() {
        if (document.getElementById("nearbyCheckbox").checked) {
          document.getElementById("districtSelect").value = "";
          document.getElementById("mrtSelect").value = "";
          var walkingTimeLabel = document.getElementById("walking_time_div");
          var hidden = walkingTimeLabel.getAttribute("hidden");
          if (hidden) {
            walkingTimeLabel.removeAttribute("hidden");
          }
        }
      }

      function clearForDistrictSelection() {
        document.getElementById("nearbyCheckbox").checked = false;
        clearLocationInputs();
        document.getElementById("mrtSelect").value = "";
        var walkingTimeLabel = document.getElementById("walking_time_div");
        var hidden = walkingTimeLabel.getAttribute("hidden");
        if (!hidden) {
          walkingTimeLabel.setAttribute("hidden", "hidden");
        }
      }
      function clearForMRTSelection() {
        document.getElementById("districtSelect").value = "";
        document.getElementById("nearbyCheckbox").checked = false;
        clearLocationInputs();
        var walkingTimeLabel = document.getElementById("walking_time_div");
        var hidden = walkingTimeLabel.getAttribute("hidden");
        if (hidden) {
          walkingTimeLabel.removeAttribute("hidden");
        }
      }
    </script>
  </body>
</html>
