<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>

    <script
      src="https://cdn.plot.ly/plotly-2.30.0.min.js"
      charset="utf-8"
    ></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="search-bar-container">
      <form action="/search" method="post">
        <input
          type="text"
          name="search"
          placeholder="Search again..."
          value="{{ search_query }}"
        />
        <button type="submit">Search</button>
      </form>
      <a class="cart-counter" href="/scheduling"
        >GO Scheduling ({{ session['cart_list']|length }})</a
      >
    </div>
    <div class="results-container">
      {% for result in search_result %} {% if result.place_detail %}
      <div class="result-item">
        <form action="{{ url_for('add_cart') }}" method="POST">
          <p class="result-title"><strong>{{ result._id }}</strong></p>
          {% if result.place_detail.opening_hours %}
          <p>
            Total Ratings: {{ result.doc.user_ratings_total }} Rating: {{
            result.doc.rating }}
          </p>
          <div
            id="radar-{{loop.index }}"
            style="width: 50%; height: 300px"
          ></div>
          <p>
            Opening Hours: {{ result.place_detail.opening_hours.weekday_text }}
          </p>
          <a
            href="{% if result.place_detail.website %}{{ result.place_detail.website }}{% else %}https://www.google.com/maps/place?q={{ result.place_detail.name }}{% endif %}"
            >More Info</a
          >
          <input type="hidden" name="shop_name" value="{{ result._id }}" />
          <input type="hidden" name="shop_ob_id" value="{{ result.doc._id }}" />
          <button type="submit">Add to Cart</button>

          {% endif %}
        </form>
      </div>
      {% endif %} {% endfor %}
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      const addToCartForms=document.querySelectorAll("form[action='/add-cart']");
      addToCartForms.forEach(form => {
        form.addEventListener('submit', function(event){
          event.preventDefault();//阻止表單正常提交
          const formData=new FormData(this);
          fetch('/add-cart', {
            method: 'POST',
            body:formData
          })
          .then(response => response.json())
          .then(data => {
            // console.log(data);
            if (data.already_in){
              alert('Shop has already in the list.')
            }
            else{
              const cartCounter =document.querySelector('.cart-counter');
              const currentCount = parseInt(cartCounter.textContent.match(/\d+/)[0]); // Extracts the numeric part from the string
              cartCounter.textContent = `Cart (${currentCount + 1})`;
              alert('Shop added to cart');
            };

          })
          .catch(error => console.error('Error: ', error));
        })
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const results =  {{ search_result|tojson }}; // server-side render
      console.log(results);
      results.forEach((result, index) => {
        if (result.place_detail && result.for_radar) {
          const data = [
            {
              type: "scatterpolar",
              r: result.for_radar.count,
              theta: result.for_radar.tag,
              fill: "toself",
            },
          ];

          const layout = {
            polar: {
              radialaxis: {
                visible: true,
                // range: [0, 10],
              },
            },
            // title: `${result._id}`,
          };

          Plotly.newPlot(`radar-${index + 1}`, data, layout);
        }
      });
    });
  </script>
</html>
