<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="search-bar-container">
      <form action="/search" method="post">
        <input
          type="text"
          name="search"
          placeholder="Search again..."
          value="{{ search_query }}"
        />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="results-container">
      {% for result in search_result %} {% if result.place_detail %}
      <div class="result-item">
        <p class="result-title">{{ result.place_detail.name }}</p>
        <p>{{ result.place_detail.weekday_text }}</p>
      </div>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
